[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/thedmd/imgui
	branch = feature/docking-layout-external
[submodule "dependencies/imgui-node-editor"]
	path = dependencies/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor
